doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/css/zfs.css')
    link(rel='stylesheet', href='/assets/css/zfa.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
