header.main-header
  a.logo
    span.logo-lg Documentación
    span.logo-mini <b>D</b>ocs  
    
  nav.navbar.navbar-static-top(role="navigation")
    a.sidebar-toggle(role="button" data-toggle="offcanvas" href="#")
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expended="false")
            i.fa.fa-user
            |&nbsp;César
          ul.dropdown-menu
            li.user-header
              p
                |César Encarnación Mendoza
                br
                b Subdirección Administrativa
                small 
                  |Departamento de Tecnologías de la Información
            li.user-footer
              .pull-right
                a.btn.btn-default(href="#")
                  i.fa.fa-key
                  |&nbsp;Cambiar contraseña    
        li 
          a(href="#") 
            i.fa.fa-power-off
            |&nbsp;Salir      
