.grid-block.medium-2.vertical.panel-menu.hide-for-print
  .text-center
    br
    img(src="/images/ivea.png" width="50%")
    h4.subheader Control documental
    hr
  ul.vertical.menu-bar.condense
    li.title
      |Documentos pendientes de respuesta
    li.title
      a.text-center
        span.badge.success 10
      a
        span.badge.warning 5
      a
        span.badge.alert 243
    li
      a(href="/seguimiento")
        |Resumen general
    li
      a(href="/seguimiento/area") Desglose por área
    li
      a(href="/seguimiento/registro") Registrar seguimiento
    li.title Emisión
    li
      a(href="/emision") Listado de documentos
    li
      a(href="/emision/registro") Registrar nuevo
      li.title Recepción
      li
        a(href="/recepcion") Listado de documentos
      li
        a(href="/recepcion/registro") Registrar nuevo
    li.title Turnos
    li
      a(href="/turnos") Listado de turnos
    li
      a(href="/turnos/registro") Registrar nuevo
    li
      a(href="/turnos/listado") Editar lista
    li.title
      a(href="/paquetes") Paquetes
    li.title
      a(href="/busqueda") Busqueda
