script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
script(src="/bootstrap/js/bootstrap.min.js")
//scripts personalizados
block scripts
script(src="/dist/js/app.min.js")
block custom_script
