.menu-group.dark
  .menu-group-left
  .menu-group-right.hide-for-print
    ul.menu-bar
      li
        a
          i.fa.fa-user
          |César Encarnación
      li
        a
          i.fa.fa-key
          |Cambiar contraseña
      li
        a
          i.fa.fa-power-off
          |Salir
