include includes/head.jade
include includes/main-header.jade
include includes/main-sidebar.jade
div.content-wrapper
  section.content-header
    h1=title
  section.content
      .row
        .col-xs-12
          block content
include includes/footer.jade
include includes/scripts.jade
