include includes/head.jade
div.grid-frame
  div.align-center.grid-block
    div.medium-3
      .text-center
        br
        img(src="images/ivea.png")
        h3 Sistema de control documental
      br
      br
      form
        label Usuario
        input(type="text" placeholder="Usuario")
        label Contraseña
        input(type="password" placeholder="Contraseña")
        button.expand.button.large Iniciar sesión
