body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-menu{
  background: #F9F9F9 none repeat scroll 0% 0% !important;
  border-right: 1px solid #E7E7E7;
}

.panel-menu .menu-bar .title {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

.panel-menu .menu-bar li {
    background: #F9F9F9 none repeat scroll 0% 0% !important;
    /*padding-left: 20px;*/
}

.panel-menu .menu-bar li a{
  color: #00558B;
}

.menu-bar li a{
  font-size: 0.9rem !important;
}

.menu-bar li a span{
  font-size: 15px !important;
}
/*Imagenes para imprimir*/
.margin0{
  margin-bottom: 0 !important;
}
/*Color del semaforo*/

th.semaforo{
  border-radius: 0px;
  color: #FFF;
  text-align: center;
}
th.verde{
  background: #43AC6A none repeat scroll 0% 0%;
}
th.amarillo{
  background: #FFAE00 none repeat scroll 0% 0%;
}
th.rojo{
  background: #F04124 none repeat scroll 0% 0%;
}
table.max{
  width: 100%;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead{
  border-bottom-width: 2px;
}
