extends ../layout
block content
  table.stack
    thead
      tr
        th No.
        th Tipo
        th Asunto
        th Destinatario
        th Fecha
        th Acciones
    tbody
      tr
        td 1
        td 2
