extends ../layout
block content
  form
    .grid-block
      .medium-4.grid-content
        label Tipo de emisión*
        input(type="text")
      .medium-4.grid-content
        label Tipo de documento*
        input(type="text")
      .medium-4.grid-content
        label Fecha de registro del documento
        h4 12/dic/2015
      .medium-12.grid-content
        label Destinatario*
        input(type="text")
      .medium-12.grid-content
        label Asunto*
        input(type="text")
      .medium-12.grid-content
        label Descripción del documento*
        textarea
      .medium-12.grid-content
        label Con copia para
        textarea
