extends ../layout
block content
  form
    .grid-block
      .medium-4.grid-content
        label Tipo de emisión*
        select
          option(value="Interno") Para áreas y/o CZs de IVEA
          option(value="Externo") Para dependencias externas
      .medium-3.grid-content
        label Tipo de documento*
        select
          option(value='Oficio') Oficio
          option(value='Tarjera') Tarjeta
          option(value='Circular') Circular
      .medium-2.grid-content
        label Fecha de registro del documento
        h4 12/Dic/2015
      .medium-3.grid-content
          .card.success
            .card-divider 
              i.fa.fa-info-circle.fa-2x
              br
              |Formato del número de documento a generar: 
              b DG/##/2015
    .grid-block
      .medium-4.grid-content
        label Firma*
        input(type="radio" id="fdireccion" name="areafirma")
        label(for="fdireccion") Director(a)
        input(type="radio" id="subdireccion" name="areafirma")
        label(for="fsubdireccion") Subdirector(a)
        input(type="radio" id="fdepto" name="areafirma")
        label(for="fdepto") Jefe(a) de departamento
      .medium-4.grid-content
        label Nombre del funcionario que firma el documento*
        input(type="text")
      .medium-4.grid-content
        label Cargo del funcionario que firma el documento*
        input(type="text")
    .grid-block
      .medium-12.grid-content
          table.max
            thead
              tr
                th(colspan=2) Destinatario(s)*
                th.text-right(colspan=2) ¿Generar un número de documento diferente por cada destinatario?
                th
                  .switch.small
                    input.switch-input(type="checkbox" id="cbVariosDestinatarios")
                    label.switch-paddle(for="cbVariosDestinatarios")
                      span.switch-active.blanco(aria-hidden="true") Sí
                      span.switch-inactive(aria-hidden="true") No
            tbody
              tr
                th(width="10px") #
                td Nombre*
                td Cargo
                td(width="100px")
                td(width="150px")
              tr
                th 1
                th
                  input(type="text")
                th
                  input(type="text")
                th
                  input(type="checkbox" id="atn")
                  label(for="atn") 
                    b AT'N
                th
                  button.button.warning
                    i.fa.fa-eraser
                  button.button.success
                    i.fa.fa-plus
            
              tr
                td 2
                td César Encarnación
                td Auxiliar
                td AT'N
                td 
                  a.button.alert
                    i.fa.fa-trash    
      .medium-12.grid-content
        label Asunto*
        input(type="text")
      .medium-6.grid-content
        label Descripción del documento*
        textarea
      .medium-6.grid-content
        label Con copia para
        textarea
      .medium-6.grid-content
        label Elaboró
        input(type="text")
      .medium-6.grid-content
        label Departamento solicitante
        input(type="text")
      .medium-12.grid-content
        button.button.success
          i.fa.fa-save.fa-2x
          br
          |&nbspRegistrar documento
        a.button.alert(href="/emision")
          i.fa.fa-times.fa-2x
          br
          |&nbspCancelar registro
