extends ../layout
block content

  table.max
    thead
      tr
        th No. Turno
        th Fecha Recepción
        th Numero de Documento
        th Asunto
        th Remitente
        th Turnado a
        th Acciones
    tbody
      tr
        td 1
        td 2
